%footer.links
  .inner
    .column.copyright
      %p Cunary is commercially supported by aTech Media. A UK-based company, registration number 5523199.
      %p Copyright &copy; #{Date.today.year} aTech Media Limited.
      %p #{link_to 'This website is open source.', 'http://github.com/tryCunary/website'} Feel free to make adjustments and submit pull requests.
      
    .column
      %h4 Quick links
      %ul
        %li= link_to "Features", features_path
        %li= link_to "Docs & Tutorials", docs_path
        %li= link_to "Live Demo", "http://demo.tryCunary.com"
        %li= link_to "Support", support_path
        %li= link_to "About", about_path
    .column 
      %h4 Social
      %ul
        %li= link_to "Read our blog", "http://blog.tryCunary.com"
        %li= link_to "Follow us on Twitter", "http://twitter.com/tryCunary"
        %li= link_to "Check us out on GitHub", "http://github.com/tryCunary"
        %li= link_to "Submit a support request", support_path

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-25967703-9', 'tryCunary.com');
  ga('send', 'pageview');
