%footer.links
  .inner
    .column.copyright
      %p Shoppe is commercially supported by Niftyware Limited. A UK-based company, registration number 8514362.
      %p Copyright &copy; #{Date.today.year} Niftyware Limited.
      
    .column
      %h4 Quick links
      %ul
        %li= link_to "Features"
        %li= link_to "Docs & Tutorials"
        %li= link_to "The Code"
        %li= link_to "Live Demo"
        %li= link_to "Support"
        %li= link_to "About", about_path
    .column 
      %h4 Social
      %ul
        %li= link_to "Read our blog", "http://blog.tryshoppe.com"
        %li= link_to "Follow us on Twitter", "http://twitter.com/tryshoppe"
        %li= link_to "Check us out on GitHub", "http://github.com/tryshoppe"
        %li= link_to "Submit a support request"

