%nav.primary
  %h1= link_to 'Shoppe', root_path
  %ul
    %li= link_to "Home", root_path, :nav_item => :home
    %li= link_to "Features", features_path, :nav_item => :features
    %li= link_to "Docs & Tutorials"
    %li= link_to "Code & Demo"
    %li= link_to "Support"
    %li= link_to "About", about_path, :nav_item => :about