%nav.primary
  %h1= link_to 'Shoppe', root_path
  %ul
    %li.demo= link_to "Request Product", "http://demo.tryshoppe.com"
    %li= link_to "Home", root_path, :nav_item => :home
    %li= link_to "Product & Features", features_path, :nav_item => :features
    %li= link_to "Terms of Service", docs_path, :nav_item => :docs
    %li= link_to "About", about_path, :nav_item => :about
    %li= link_to "Support", support_path, :nav_item => :support
    %li= link_to "Contact Us", code_path, :nav_item => :code
