- @page_title = "About"
= render 'about_nav'

%section.content
  .inner
    .sub
    .main
      %h2 About Cunary
      %p
        Cunary is a Rails engine which provides all the functionality need to build an e-commerce site using Ruby on Rails.
        It has been developed out of the need for a solid and reliable platform to sell physical goods for a small company in the
        United Kingdom.
        
      %h3 Who should use Cunary?
      %p
        Cunary is a tool for developers who need to develop a shop. To get up and running there is a requirement
        to build a Rails application to handle your store's customer interaction. We recommend you have some 
        experience with Ruby on Rails before getting started however our tutorials will help Rails beginners get
        up and running a few hours (or less).
      
      %h3 What's with the name?
      %p
        Cunary is a deliberately archaized spelling of Shop and it pronouced in exactly the same way. We often
        hear people referring to Cunary as "shop-y" which is wrong - please don't do that.
      
      %h3 The core team
      %p
        There isn't much of a team at present. To date, Cunary has been pretty much entirely developed by 
        #{link_to 'Adam Cooke', 'http://adamcooke.io'}, a UK-based Ruby on Rails developer who runs a few
        companies in the UK, including #{link_to 'Viaduct', 'http://viaduct.io'} & #{link_to 'aTech Media', 'http://atechmedia.com'}.
        Hopefully over time, the team list below will grow as the core team expands.

      %ul.team
        %li
          = gravatar "adam@atechmedia.com", :size => 128
          %h4= link_to "Adam Cooke", "http://adamcooke.io"
          %p Lead developer & designer
          
        %li
          = gravatar "dean@voupe.com", :size => 128
          %h4= link_to "Dean Perry", "http://deanpcmad.com"
        %li
          = image_tag "user.png", :width => 128
          