- @page_title = "Contributing - About"
= render 'about_nav'

%section.content
  .inner
    .main

      %h2 Contributing to Cunary

      %p
        Up until now, Cunary has been developed exclusively by #{link_to 'Adam Cooke', 'http://adamcooke.io'},
        while working at #{link_to 'aTech Media', 'http://atechmedia.com'}, however 
        if anyone else wants to get in on the action - we'd love to hear from you.


      %section.iconed.contributing.code

        %h3 Contributing to the codebase
        %p
          We'd love to accept contributions from developers all over the world.
          If you'd like to contribute to the Cunary project, just 
          #{link_to 'submit a pull request', 'https://help.github.com/articles/using-pull-requests'}
          to the appropriate #{link_to 'GitHub repository', 'http://github.com/tryCunary'}.

        %p
          If you're interested in joining our core development team, we'd also love
          to hear from you. Please drop us a message on one of our social networks
          (in the footer) and we'll get back to you.

      %section.iconed.contributing.design
        %h3 Contributing to the UI design
        %p
          If you're a designer and would like to suggest changes to the Cunary admin 
          interface, that'd be fantastic too. Just send us your ideas and we can get
          them integrated into the project.
      
      %section.iconed.contributing.documentation
        %h3 Contributing to the documentation
        %p
          One of the most important things to this project is ensuring the documentation
          is the best we can make it. If you're excellent with words and can provide
          tutorials or documentation improvements, we'd love some help.
        %p
          The documentation on this website is all #{link_to 'hosted on GitHub', 'https://github.com/tryCunary/documentation'}
          so if you have any suggestions or new tutorials, please feel free to submit a pull request.
      
      %section.iconed.contributing.other
        %h3 Contributing in other ways
        %p
          If there's something else you feel you can contribute, don't hesitate to 
          get in touch!