- @page_title = "Modules - Code"
= render 'code_nav'

%section.content
  .inner
    .sub  
      %p.own-mod
        If you have developed a module and would like it listed either #{mail_to 'development@tryCunary.com', 'contact us'}
        or #{link_to 'fork the website repo', 'http://github.com/tryCunary/website'} and submit a pull request.
      
    .main
      %h2 The module store
      %p
        This page lists all the modules which are available for Cunary at the present time. At the moment,
        we don't have too many of these so feel free to write some modules!

      %h3 Payment Processors
      %ul.modules
      
        %li
          %p.buttons
            = link_to "Repository", "http://github.com/tryCunary/stripe"
            = link_to "Docs", "https://github.com/tryCunary/stripe/blob/master/README.md"
          %h4= link_to "Stripe"
          %p.desc Integrate your Cunary store with the Stripe payment processor
        %li
          %p.buttons
            = link_to "Repository", "http://github.com/deanperry/Cunary-paypal"
          %h4= link_to "PayPal"
          %p.desc Integrate your Cunary store with PayPal
        %li
          %p.buttons
            = link_to "Repository", "https://github.com/deanperry/Cunary-notification"
          %h4= link_to "Notification"
          %p.desc Emails staff when a new order is received
        %li
          %p.buttons
            = link_to "Repository", "https://github.com/ShepBook/Cunary-easypost"
          %h4= link_to "EasyPost"
          %p.desc #{link_to "EasyPost", "https://www.easypost.com/"} integration for the Cunary backend
