%nav
  %ul
    %li= link_to "Welcome", docs_path, :class => 'active'
    %li= link_to "Getting Started", docs_page_path('getting-started')
    %li= link_to "Payment Gateways", docs_page_path('payment-gateways')
    %li= link_to "Extending Shoppe", docs_page_path('extending')
    %li= link_to "Tips & Tricks", docs_page_path('tips')
    %li= link_to "API Documentation", "http://api.tryshoppe.com"
