%nav
  %ul
    %li= link_to "Welcome", docs_path, :class => action_name == 'index' && 'active'
    %li= link_to "Getting Started", docs_page_path('tutorials/getting-started'), :class => action_name == 'page' && params[:path] == 'tutorials/getting-started' && 'active'
    %li= link_to "Payment Gateways", docs_page_path('tutorials/payment-gateways'), :class => action_name == 'page' && params[:path] == 'tutorials/payment-gateways' && 'active'
    %li= link_to "Extending Shoppe", docs_page_path('extending'), :class => action_name == 'page' && params[:path] == 'extending' && 'active'
    %li= link_to "Tips & Tricks", docs_page_path('tips'), :class => action_name == 'page' && params[:path] == 'tips' && 'active'
    %li= link_to "API Documentation", "http://api.tryshoppe.com"
