%nav
  %ul
    %li= active_link_to "Welcome", docs_path, active: [["documentation"], ["index"]]
  %h3 Getting Started Series
  %ul
    %li= active_link_to "Setting up Shoppe", docs_page_path('tutorials/setting-up')
    %li= active_link_to "Displaying Products", docs_page_path('tutorials/products')
    %li= active_link_to "Baskets", docs_page_path('tutorials/baskets')
    %li= active_link_to "Checking out", docs_page_path('tutorials/checking-out')
  %h3 Payment Gateways
  %ul
    %li= active_link_to "Stripe", docs_page_path("payment-gateways/stripe")
    %li= active_link_to "PayPal", docs_page_path("payment-gateways/paypal")
  %h3 Further reading
  %ul
    %li= active_link_to "Extending Shoppe", docs_page_path('extending')
    %li= link_to "API Documentation", "http://api.tryshoppe.com"