!!!
%html
  %head
    = render 'shared/head'
  %body
    %header.home
      .inner
        = render 'shared/nav'
        %div.screenshot= image_tag 'screenshot.png'
        %section.welcome
          %h2 <b>Cunary.</b> The Best Service That Provide Application for Growing your Business.
          %h3 The Complete Solution for Anyone who Wants to Growing Business.
          %ul.buttons
            %li= link_to "Our Products", 'http://demo.tryCunary.com', :class => 'demo'
            %li= link_to "Terms of Services", docs_path, :class => 'docs'
    = yield
    = render 'shared/footer'
